<!-- {% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row"> -->

        <!-- Blog Entries Column -->
        <!-- <div class="col-12 mt-3 left">
            <div class="row">
            {% for post in post_list %} -->
            <!-- We want our posts to display in rows of three.  
After six posts, we'll paginate them. So we're  going to use the built-in loop counter to close  
the existing row div, and add a new one  after three posts have been displayed.
So {% if forloop.counter|divisibleby:3 %}
then we're going to close the row div,  we're going to open a new row div.
Just delete these, it's auto creating  them thanks to the autocomplete.
And then, we can end {% endif %} here. -->
<!-- So Django has a built-in  counter method on our for loop,  
when it's evenly divisible by three, then we're  going to close our row class and add a new one. 
And this will be pushed right down to the  
end of our for loop so that we  don't close the row too early. -->
            <!-- {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

</div>

{%endblock%} -->

{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
<!-- So if the word placeholder is found in the URL,  remember that's our default if we don't supply an image.
Then, we'll assume that there is no featured image, so we'll just load a default placeholder image.
You can use the same address  as we have here, I'll put it below the video.
Otherwise, we'll use the image that we've uploaded
and we'll do that using  the double curly bracket notation.
Remember that the curly bracket followed by  the percent sign indicates a control statement.
Whereas, double curly braces  inserts the content into the html.
So here we're inserting our  URL from our featured image. -->
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="#" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- So list view provides the is_paginated boolean,  
so if that's set, we'll display these  navigation buttons at the bottom of the page.
This then concludes building our  first view, however it won't work yet. 
standart code. Can use for own project -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}